.App {
  font-family: sans-serif;
  padding: 20px 10px 20px 20px;
}

.repo-item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.repo-item img {
  margin-right: 10px;
  border-radius: 50%;
}
